body,
html{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

.bottomV, .topV {
  position: absolute;
  width: 0.5rem;
  height: 1rem;
  /* border: 1px solid #FFF; */
  background-color: #FFF;


}

.topVCollection {
    position: absolute;
    top: 0vh;
    left: 0vw;
}

.bottomVCollection {
    position: absolute;
    top: 0vh;
    left: 0vw;
}


.background {
    width: 100%;
    height: 100vh;
    background: #000a1a;
    z-index: -10;
}

.stars .star {
  position: absolute;
  opacity: 1;
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50px;
  z-index: 1;
  background: #FFF;

}

.star1 {
  left: 10vw;
  top: 10vh;
}

.star2 {
  left: 20vw;
  top: 20vh;
}

.star3 {
  left: 70vw;
  top: 30vh;
}

.star4 {
  left: 80vw;
  top: 20vh;
}

.star5 {
  left: 50vw;
  top: 70vh;
}

.star6 {
  left: 90vw;
  top: 20vh;
}

.star7 {
  left: 20vw;
  top: 90vh;
}

.star8 {
  left: 90vw;
  top: 70vh;
}

.moon {
  position: absolute;
  opacity: 1;
  height: 10rem;
  width: 10rem;
  border-radius: 100px;
  z-index: 2;
  background: #FFF;
  left: 7rem;
  top: 5rem;
  box-shadow: 0px 0px 70px 10px #FFF;
}

.moon::before {
  position: absolute;
  content: '';
  height: 1rem;
  width: 1rem;
  z-index: 3;
  left: 6rem;
  top: 3rem;
  background: #dbdbdb;
  box-shadow: 0px 0px 5px 2px #c7c7c7;
  border-radius: 100px;
  transform: scale(3);
}

.sun {
  position: absolute;
  opacity: 0;
  height: 10rem;
  width: 10rem;
  border-radius: 100px;
  z-index: 2;
  background: #ffdd00;
  left: 7rem;
  top: 5rem;
  box-shadow: 0px 0px 70px 20px #ffed75;
}

.cloud1 {
  position: absolute;
  height: 7rem;
  width: 7rem;
  border-radius: 100px;
  z-index: 3;
  background: grey;
  left: 30rem;
  top: 2rem;
}

.cloud1::before {
  content: '';
  position: absolute;
  height: 8rem;
  width: 8rem;
  border-radius: 100px;
  z-index: 3;
  background: grey;
  top: 3rem;
  left: 3rem;
}

.cloud1::after {
  content: '';
  position: absolute;
  height: 8rem;
  width: 8rem;
  border-radius: 100px;
  z-index: 3;
  background: grey;
  top: 3rem;
  left: -3rem;
}

.cloud2 {
  position: absolute;
  height: 7rem;
  width: 7rem;
  border-radius: 100px;
  z-index: 3;
  background: grey;
  left: 20rem;
  top: 20rem;
}

.cloud2::before {
  content: '';
  position: absolute;
  height: 8rem;
  width: 8rem;
  border-radius: 100px;
  z-index: 3;
  background: grey;
  top: 3rem;
  left: 3rem;
}

.cloud2::after {
  content: '';
  position: absolute;
  height: 8rem;
  width: 8rem;
  border-radius: 100px;
  z-index: 3;
  background: grey;
  top: 3rem;
  left: -3rem;
}

.cloud3 {
  position: absolute;
  height: 7rem;
  width: 7rem;
  border-radius: 100px;
  z-index: 3;
  background: grey;
  left: 70rem;
  top: 10rem;
}

.cloud3::before {
  content: '';
  position: absolute;
  height: 8rem;
  width: 8rem;
  border-radius: 100px;
  z-index: 3;
  background: grey;
  top: 3rem;
  left: 3rem;
}

.cloud3::after {
  content: '';
  position: absolute;
  height: 8rem;
  width: 8rem;
  border-radius: 100px;
  z-index: 3;
  background: grey;
  top: 3rem;
  left: -3rem;
}